@{
    ViewData["Title"] = "New parking";
}

<div class="container-fluid d-flex align-items-center justify-content-center flex-column mt-5">
<h1>Please select:</h1>
<div>
        <a asp-action="Create"><button class="btn btn-primary">Park new vehicle</button></a>
        <a asp-action="Index"><button class="btn btn-primary">Park again</button></a>
       
</div>

</div>