@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Garage</h1>
    <a asp-controller="Vehicles" asp-action="Create" class="btn btn-outline-primary">Park</a>
    <a asp-controller="Vehicles" asp-action="Index" class="btn btn-outline-primary">Browse garage</a>
</div>